@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
.fancy, #main_body .sekcja .section_header {
  font-family: "Old Standard TT", serif;
}

.left_to_right_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.left_to_right_grid * {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

.up_to_down {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

* {
  font-family: "Nunito", sans-serif;
}

.gen_btn {
  background-color: transparent;
  color: #0b0b0d;
  border: none;
  padding: none;
  text-decoration: none;
}

body {
  background: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 10px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  font-size: 25px;
  -webkit-animation: fadeInUp 1s ease-out both;
          animation: fadeInUp 1s ease-out both;
  background-color: #fefefe;
  padding: 20px 20px;
  border-radius: 20px;
  border: 1px solid #0b0b0d;
}

header p {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: -6px;
}

header .buttons button {
  background-color: transparent;
  color: #0b0b0d;
  border: none;
  padding: none;
  text-decoration: none;
  -webkit-animation: fadeInUp 1s ease-out both;
          animation: fadeInUp 1s ease-out both;
  font-size: 16px;
  width: 110px;
  margin-left: 10px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 275ms;
  transition: 275ms;
}

header .buttons button:hover {
  border-bottom: 1px solid #0b0b0d;
}

.section_p {
  font-size: 20px;
  padding-left: 10px;
}

#main_body .napis * {
  font-size: 70px;
  font-weight: 200;
}

#main_body .sekcja {
  -webkit-animation: fadeInUp 1s ease-out both;
          animation: fadeInUp 1s ease-out both;
  width: 800px;
  margin: 125px 0;
  background-color: #fefefe;
  border: 1px solid #0b0b0d;
  border-radius: 1px;
  min-height: 500px;
}

#main_body .sekcja .section_header {
  width: 100%;
  border-bottom: 1px solid #0b0b0d;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_body .sekcja .section_header h1 {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 0 -6px 0;
  font-weight: 200;
}

#main_body .sekcja .contact_form {
  -webkit-animation: fadeInUp 1s ease-out both;
          animation: fadeInUp 1s ease-out both;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_body .sekcja .contact_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
  font-size: 18px;
}

#main_body .sekcja .contact_form form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

#main_body .sekcja .contact_form form input, #main_body .sekcja .contact_form form textarea {
  padding: 10px;
  border: 1px solid #0b0b0d;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#main_body .sekcja .contact_form form input:hover, #main_body .sekcja .contact_form form textarea:hover {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#main_body .sekcja .contact_form form input:focus, #main_body .sekcja .contact_form form textarea:focus {
  outline: none;
  background-color: #d5d5db;
}

#main_body .sekcja .contact_form form button {
  background-color: transparent;
  color: #0b0b0d;
  border: none;
  padding: none;
  text-decoration: none;
  margin-top: 20px;
  font-size: 18px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid #0b0b0d;
  border-radius: 5px;
  padding: 8px 20px;
  -webkit-transition: 250ms;
  transition: 250ms;
  background-color: #fefefe;
}

#main_body .sekcja .contact_form form button:hover {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

#main_body .sekcja .waving_hand {
  font-size: 300px;
}

#main_body .project {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_body .project img {
  width: 250px;
}

#main_body .project button {
  background-color: transparent;
  color: #0b0b0d;
  border: none;
  padding: none;
  text-decoration: none;
  margin-top: 20px;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #0b0b0d;
  border-radius: 5px;
  height: 60px;
  width: 100px;
  -webkit-transition: 250ms;
  transition: 250ms;
  background-color: #fefefe;
}

#main_body .project button:hover {
  background-color: #d5d5db;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

footer {
  color: #fefefe;
  text-transform: uppercase;
  font-size: 20px;
}

.social-island {
  position: fixed;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fefefe;
  border: 1px solid #0b0b0d;
  border-radius: 20px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  z-index: 999;
}

.social-island i {
  font-family: "Old Standard TT", serif;
  font-size: 40px;
  width: 40px;
  height: 40px;
  color: #0b0b0d;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.social-island i:hover {
  border-bottom: 1px solid #0b0b0d;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */